version: '3.8'
services:
  server:
    build: ./Server
    ports:
      - "5000:5000"
    restart: always

  client:
    build: ./Client
    ports:
      - "80:80"
    depends_on:
      - server
    restart: always